#main-container{
    display: grid;
    border: 1px solid lightslategrey;
    width: 960px;
    height: 960px;    
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-square{
    background-color: black;
}
.lit{
    background-color: dodgerblue;
}